h1
{
    color: #3ef706;
}

#menu
{
background-color: #2e9608;
padding: 15px;
box-shadow: 5px 2px 5px 2px #012914;

}
#menu li{

list-style: none;
display: inline-block;
font: bold 20px;
padding-left: 50px;

}
a{
text-decoration: none;
color: #680404;
}

#servicios
{
    margin-top: 50px;
display: flex;
justify-content: space-evenly;
}

#image1-servicios 
{
    height: 300px;
/*border:1px solid black;*/
width: 25%;
background-color: #3ef706;
border-radius: 3px;
}
#image2-servicios 
{
    height: 300px;
/* border:1px solid black; */
width: 25%;
background-color: #680404;
border-radius: 3px;
}
#image3-servicios 
{
    height: 300px;
/*border:1px solid black;*/
width: 25%;
background-color: #3ef706;
border-radius: 3px;
}



.image-serv
{
width: 100%;
}
#contenidoPpal1
{
    display: flex;
    justify-content:space-evenly;
    margin-top: 80px;
    background-color: #680404;
    padding: 50px;
}

#video
{
    width: 40% ;
}
#textoPpal
{
    width: 40%;
}

#vid
{
    width: 100%;
    border-radius: 20px;
}

#Registro
{
    display: flex;
justify-content: space-evenly;
margin-top: 50px;
background-color: #69f436;
}
#tabla
{
width: 45%;
}
#Formulario
{
width: 45%;
}
table
{
    width: 100%;
    height: 400px;
}

#contenifooter
{
    display: flex;
    padding: 150px;
    justify-content: space-evenly;
    background-color: #680404;
    margin-top: 50px;
}
#cont1
{
width: 40%;
}
#cont2
{
width: 40px;
}